apiVersion: v2
appVersion: 1.16.0
dependencies:
- alias: metal3-baremetal-operator
  name: baremetal-operator
  repository: file://./charts/baremetal-operator
- alias: metal3-external-dns
  condition: global.enable_external_dns
  name: external-dns
  repository: file://./charts/external-dns
- alias: metal3-ironic
  name: ironic
  repository: file://./charts/ironic
- alias: metal3-mariadb
  name: mariadb
  repository: file://./charts/mariadb
- alias: metal3-media
  condition: global.enable_metal3_media_server
  name: media
  repository: file://./charts/media
- alias: metal3-nfs-subdir-external-provisioner-mariadb
  condition: global.enable_metal3_nfs_subdir_external_provisioner_for_mariadb
  name: nfs-subdir-external-provisioner
  repository: file://./charts/nfs-subdir-external-provisioner
- alias: metal3-powerdns
  condition: global.enable_pdns
  name: powerdns
  repository: file://./charts/powerdns
description: A Helm chart that installs all of the dependencies needed for Metal3
name: metal3-deploy
type: application
version: 0.1.0
icon: https://github.com/cncf/artwork/raw/master/projects/metal3/icon/color/metal3-icon-color.svg
