{{- if .Values.kubevirt.enabled -}}
apiVersion: kubevirt.io/v1
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: kubevirt
spec:
  certificateRotateStrategy: {}
  configuration:
    developerConfiguration:
      featureGates: []
  customizeComponents: {}
  imagePullPolicy: {{ .Values.kubevirt.pullPolicy }}
  workloadUpdateStrategy: {}
{{- end }}
