operator:
  image: registry.suse.com/suse/sles/15.5/virt-operator
  version: 1.1.0-150500.8.6.1
  pullPolicy: IfNotPresent

securityContext:
  seccompProfile:
    type: RuntimeDefault
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

hookImage: bitnami/kubectl:1.27.3
hookRestartPolicy: OnFailure
